<div class="container">
  <div class="form-style-8 modal-xl">
    <h2 style="margin-left: -30px; margin-right: -30px;">Add New Tee Time!</h2>
    <%= simple_form_for @teetime do |f| %>
      <%= f.error_notification %>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :team_tee_time, :as => :text, :input_html => { :cols => 100, :rows => 15 }, required: true %><br>
          </div>
        </div>
      <br />
      <%= f.submit 'Create', class: 'btn btn-primary' %>
      <button onclick="window.history.go(-1); return false;" value="Back" class="btn btn-md btn-danger cancel-btn">Cancel</button>
    <% end %>
  </div>
</div>
