<div class="container">
  <div>
    <h2 class="main-section-title">When do I add events?</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <p>Add any events for the current year only. Example -  it's 2019 and you want to post the events for 2020.
          Wait until Jan of 2020 to post events for 2020.
        </p>
        <p class="important-message">
          Events will be archived by year automatically. Members who play will only see the current years events
          in their dashboard, and on the events landing page. An archive button will show prior year results.
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-title">How to add MCPLA Tournament Events</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <ul>
          <li>Goto the Admin Page</li>
          <li>Click 'Add New Event' Button</li>
          <li>Fill in all required fields</li>
        </ul>
        <p>All required fields are in red. Remember that if the event requires a partner, that you check
          the 'Does this event require a partner box?' at the bottom of the form.
        </p>
        <p>Events can be edited by clicking
          the 'Edit Event' button from the Admin page. If the event has 2 days, remember to add the second date.
        </p>
        <p>
          When the corresponding Blue Golf page has been created, remember to come back and edit the event and paste
          the entire bluegolf link in the form field that says 'Blue Golf Link'. 
        </p>
        <p>
            This helps keep the history of events accurate and the
            participants or other golfers informed on past events.
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-title">How to add MCPLA Tournament Winner Pictures</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <ul>
          <li>Goto the Navbar - Tournaments > MCPLA Events</li>
          <li>Choose the event you want to add a picture for by choosing 'Event Info'</li>
          <li>Click 'Add Flight Winner'</li>
          <li>Add all the required information</li>
        </ul>
        <p>Any image can be used providing it has the following exensions - (jpg, jpeg, gif, png).<br>
          Images will be re-sized for max performance to 400 x 400 (square shape), so feel free to 
          add images that are portrait or landscape photos. Remember images are stored in the cloud at Amazon AWS, so after your free year of storage, you will see a small fee from Amazon for photo storage. (Includes PDF's for minutes and such as well)
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-title">How to add Minutes</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <ul>
          <li>Goto the Mintues Page (Navbar - Our Club - Meeting Minutes)</li>
          <li>Click 'Add New Minutes' Button</li>
          <li>Fill in all required fields</li>
        </ul>
        <p></p>
        <p>
          Minutes accept a title, a date when the minutes occurred and a pdf that you can upload
          that has a recap of the minutes.
        </p>
        <p>
          To edit any minutes, got the minutes page (Navbar - Our Club - Meeting Minutes) and click the edit button to adjust 
          anything that needs to be edited. You can edit the date or title or pdf.
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-title">How to add News & Updates</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <ul>
          <li>Goto the News & Updates Page (Navbar - Our Club - News & Updates)</li>
          <li>Click 'Add New News & Updates' Button</li>
          <li>Fill in all required fields</li>
        </ul>
        <p></p>
        <p>
          News and updates accept a text box field that acts like a paragraph. Simply add your updates
          and the format you type it in (with spacing and new lines, etc...) is how it will be displayed to the user.
        </p>
        <p>
          Here you have the option to upload a PDF but this field is not required. This was added because you 
          may want to do an update about an event recap, and want to attach a PDF of that recap. If you don't
          have a pdf, simply make an update.
        </p>
        <p>
          To edit an update, simply goto the page (Navbar - Our Club - News & Updates), and make the edits.
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-title">How to add First & Second Team Schedules</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <ul>
          <li>Goto the First & Second Team link (Navbar - Tournaments / First & Second Teams Section - Schedules)</li>
          <li>Click 'Add New Team Schedule' Button</li>
          <li>Fill in all required fields</li>
        </ul>
        <p></p>
        <p>
          Add new team schedule accept a text box field that acts like a paragraph. Simply add your updates
          and the format you type it in (with spacing and new lines, etc...) is how it will be displayed to the user.
        </p>
        <p>
          To edit a team schedule, simply goto the page Navbar - Tournaments / First & Second Teams Section - Schedules), and make the edits.
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-title">How to add First & Second Team Results</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <ul>
          <li>Goto the First & Second Team link (Navbar - Tournaments / First & Second Team Section - Tee Times / Results)</li>
          <li>Click on 'Add Tee Time / Result' Button</li>
          <li>Fill in all required fields</li>
        </ul>
        <p>
          Add new tee times/results for First and Second Teams accepts a date input (preferably the date of the event), a title and a pdf of the results.        
        </p>
        <p>
          To edit a First & Second Team tee time or result, simply goto the page (Navbar - Tournaments / First & Second Team Section - Tee Times / Results), and make the edits.
        </p>
      </div>
    </div>
  </div>
</div>
