<div class="container">
  <h4 class="section-title">Our clubs</h4>
  <a class="club-link" href="http://www.browndeergolfer.com" target="_blank">
  <div class="row each-club">
      <div>
          <center>
            <p class="member-club">Browndeer Park Men's Golf Club</p>
          </center>
      </div>
  </div></a>
  <div class="row each-club">
    <div>
        <center>
          <p class="member-club">Oakwood Park Men's Golf Club</p>
        </center>
    </div>
  </div>
  <div class="row each-club">
    <div>
        <center>
          <p class="member-club">Dretzka Park Men's Golf Club</p>
        </center>
    </div>
  </div>
  <div class="row each-club">
    <div>
        <center>
          <p class="member-club">Grant Park Men's Golf Club</p>
        </center>
    </div>
  </div>
  <div class="row each-club">
    <div>
        <center>
          <p class="member-club">Greenfield Park Men's Golf Club</p>
        </center>
    </div>
  </div>
  <div class="row each-club">
    <div>
        <center>
          <p class="member-club">Currie Park Men's Golf Club</p>
        </center>
    </div>
  </div>
  <div class="row each-club">
    <div>
        <center>
          <p class="member-club">Whitnall Park Men's Golf Club</p>
        </center>
    </div>
  </div>
</div>