<div class="container">
  <h3 class="main-section-title">Member Clubs</h3> 
  <hr class="club-container">
  <div class="row">
    <div class="col-md-4 club-layout">
        <p>Browndeer Park</p>
        <a href="http://www.browndeergolfer.com" target="_blank">Club Website</a> 
    </div>
    <div class="col-md-4 club-layout">
        <p>Dretzka Park</p>
        <a href="http://www.dretzkaparkmensclub.com" target="_blank">Club Website</a> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 club-layout">
        <p>Oakwood Park</p>
        <a href="https://sites.google.com/view/oakwood-golf-club/home" target="_blank">Club Website</a> 
    </div>
    <div class="col-md-4 club-layout">
        <p>Whitnall Park</p>
        <a href="http://www.whitnallmensclub.com" target="_blank">Club Website</a> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 club-layout">
        <p>Grant Park</p>
        <a href="http://www.gpmc.us" target="_blank">Club Website</a> 
    </div>
    <div class="col-md-4 club-layout">
        <p>Greenfield Park</p>
        <a href="http://brewerlou.wixsite.com/greenfieldparkgc" target="_blank">Club Website</a> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 club-layout">
        <p>Currie Park</p>
        <a href="http://www.currieparkmensclub.com" target="_blank">Club Website</a> 
    </div>
  </div>
</div>
