<div class="container">
  <div class="confirmations">
    <h4 class="main-section-title">Confirmation Page</h4>
    <hr class="medium-underline">
    <p class="club-info-text">Thanks for registering! You will receive an email shortly confirming your registration for the event!
    </p>
  </div>
</div>
<script>
  setTimeout(function() {
   window.location.href = "<%= dashboards_path %>";
  }, 7000);
</script>
