<div class="container">
  <div>
    <h2 class="main-section-title">Frequently Asked Questions</h2>
    <h2 class="main-section-sub-title">I forgot my password</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <p>If you forgot your password, don't panic! Follow these steps to retrieve it...
        </p>
        <ul>
            <li>Goto the login page - (Navbar - Sign-In)</li>
            <li>Click 'Forgot your password?' at bottom of the form</li>
            <li>Enter the email that you signed up with</li>
            <li>Click send password reset instructions button</li>
            <li style="color: firebrick;"><b>Be sure to check junk/spam folder for reset email if it's not in your inbox</b></li>
        </ul>
        <p class="club-info-text">
            Do not create a new account!!! If you run into any issues, visit the <b><%= link_to 'Contact Us', contact_path %></b> section.
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-sub-title">Do I need an account?</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <p>
            If you are going to play in any of the championship events, you will need to create an account. 
            These events require you to register and pay online through this site. Those events are as follows...
        </p>
        <ul>
            <li>Spring Championship</li>
            <li>Two Man Best Ball Championship</li>
            <li>Arnold Walker Milwaukee County Championship</li>
        </ul>
        <p>
            If you simply play in 1st and 2nd team events, you technically do not need to create an account. You will
            still have access to view minutes and updates, as well as any MCPLA tournament results.
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-sub-title">How do I change my membership category?</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <p>
            Here are the steps to change your membership status...
        </p>
        <ul>
          <li>Login</li>
          <li>Click My Profile</li>
          <li>Click Edit Profile</li>
          <li>Goto the Membership Status dropdown and select the correct membership category</li>
          <li>Enter your passwords at the bottom anywhere with red text. This is needed to save your changes.</li>
          <li>Click update</li>
          <li>You are all set!</li>
        </ul>
        <p>Remember - your membership status determines your pricing when you register for events.</p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-sub-title">Do you store my Credit Card information?</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <p>
            We do not store or keep any of your credit card information on file. All payment processing is done via
            a 3rd party. You can read more about <b><a href="https://stripe.com/", target="_blank">Stripe</a></b> in the link.
        </p>
      </div>
    </div>
    <hr>
    <h2 class="main-section-sub-title">I want to sign-up, what's next?</h2>
    <div class="row">
      <div class="col-md-8 club-info-text">
        <p>
            If you are ready to become a member and play in some great events,
            <b><%= link_to 'CREATE AN ACCOUNT', new_user_registration_path %></b> here!<br>
            Ensure that your home club and membership status are correct when you register.
        </p>
      </div>
    </div>
  </div>
</div>
