<div class="container">
  <div class="row top-buffer">
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
      <%= image_tag 'mcplawi.jpg', class: 'img-responsive' %>
    </div>
  </div>
  <div class="row row-buffer">
    <div class="col-md-12 col-sm-12">
      <h1 class="main-title">Want to learn more?</h1>
      <center>
        <button class="btn btn-primary contact-button">Contact Us</button>
      </center>
    </div>
  </div>
</div>
