<div class="container">
  <div class="row top-buffer">
    <h1 class="main-title"><mark class="main-mark">Milwaukee County Public Links Association of Wisconsin</mark></h1>
  </div>
  <div class="row row-buffer">
    <div class="col-md-6 col-sm-6">
      <%= image_tag 'mcplawi.jpg', class: 'img-responsive'%>
    </div>
    <div class="col-md-6 col-sm-6 text-buffer">
        <p class="main-info">
          The Milwaukee County Public Links Association was founded in 1934 with the purpose of promoting golf in Milwaukee County through inter-club competition.
          The Brown Deer, Currie, Grant, and Greenfield Golf Clubs formed the nucleus of the organization. The Whitnall, Dretzka and Oakwood Golf Clubs joined between 1953.
        </p>
    </div>
  </div>
  <hr>
  <div class="row row-buffer">
    <div class="col-md-6 col-sm-6 text-buffer">
      <p class="main-info">
      The MCPLA acts as a liaison with Milwaukee County Department of Parks, Recreation and Culture on golf matters and coordinates the scheduling of each Club's events with the Office of Milwaukee County Parks. 
      The MCPLA also provides free "Rules of Golf" seminars to both member and non-member groups and the Association has been the host for the United States Golf Association's Amateur Public Links Championships in 1951, 1967 and 1977 at Brown Deer Park.      
      </p>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= image_tag 'brown-deer.jpeg', class: 'img-responsive'%>
    </div>
  </div>
  <hr>
  <div class="row row-buffer">
    <h1 class="main-title">Want to learn more?</h1>
  </div>
  <div class="row row-buffer">
    <div class="col-md-12 col-sm-12">
      <center>
        <button class="btn btn-primary contact-button">Contact Us</button>
      </center>
    </div>
  </div>
</div>
