<div class="container">
  <h2 class="main-section-title">News And Updates Archive</h2>
  <hr class="medium-underline">
  <% @notes.each do |year, note| %>
    <p class="section-title event-title"><%= year %></p>
    <% note.each do |n| %>
      <div class="event-details">
        <p class="published-date"><b><%= n.published_date %></b></p>
        <p style="white-space: pre-wrap;"><%= n.note_update %></p>
        <% if n.event_pdf? %>
          <div class="event-details">
            <p><span class="span-margin" style="margin-left: 0px;"><%= link_to 'View Attachment', n.event_pdf.url, target: '_blank' %></span></p>
          </div>
        <% end %>
        <br>
      </div>
    <% end %>
  <% end %>
</div>
