<div class="container">
  <h2 class="main-section-title">First & Second Team - Tee Times and Results Archive</h2>
  <hr class="medium-underline">
  <% @teetimes.each do |year, teetime| %>
    <p class="section-title event-title"><%= year %></p>
    <% teetime.each do |t| %>
      <div class="event-details">
        <p><i><b><%= t.teetime_date %></b></i></p>
        <p class="section-title event-title"><%= link_to t.title, t.teetime_pdf.url, target: '_blank' %>
        </p>
        <br>
      </div>
    <% end %>
  <% end %>
</div>
