<p>Hello!</p>
<p>
  A registration has been added for a <b>MCPLAWI</b> event, the <%= @registered_event.event_title %>.
  Registration Fee: $<%= @event_registrant.event_cost(@registration) %>
  You can view the event <%= link_to 'here', event_url(@registered_event) %>.
</p>

Regards,<br>
<i>MCPLAWI</i>