<p class="club-info-text">
  You have registered for the <%= @registered_event.event_title %>!<br>
  Registration Fee: $<%= @event_fee %> has been paid.<br>
  <% if @registered_event.is_partner_event %>
  Partner: <%= @player_partner %><br>
  <% end %>
  You can view the event <%= link_to 'here', event_url(@registered_event) %>.
</p>

<p>
  By registering, you have also agreed to the Covid-19 rules and stipulations.
</p>

Regards,<br>
<i>MCPLAWI</i>