<p class="club-info-text">
  A payment has been declined!!<br>
  Event: <%= @current_event.event_title %><br>
  Player: <%= @current_user.first_name %>&nbsp;<%= @current_user.last_name %><br>
</p>

<p>This is a notice in the event the player tries to contact the MCPLAWI with questions. Please check your STRIPE account for more details on the failed transaction.</p>

Regards,<br>
<i>MCPLAWI Admin Notifications</i>