<% if current_user.has_partner_for_event(@event) %>
<p>Your partner is <%= current_user.event_partner(@event) %>.</p>
<% else %>
<p>You don't have a partner! Add one <%= link_to 'HERE', event_path(@event) %>
<% end %>