<% if current_user.partner.present? %>
  <p><b>Parnter - </b><%= current_user.partner.first_name %> <%= current_user.partner.last_name %></p>
<% else %>
  <p>You don't have a partner, add one <%= link_to 'here', new_partner_path %></p>
<% end %>
