<div>
  <table id="registrations" class="player-table">
    <thead>
      <tr>
        <th>Players</th>
        <th>Home Club</th>
        <th>Email</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.first_name %>&nbsp;<%= user.last_name %></td>
          <td><%= user.home_club %></td>
          <td><%= user.email %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
