<div class="event-extras">
  <h3 id="registation-area" class="current-event-registrations recent-results">Registrations....</h3>
  <% if @event.registrations.count > 0 %>
    <p>Total - (<%= @event.registrations.count %>)</p>
    <% if @event.is_partner_event? %>
      <div class="partner-clause">
        <%= image_tag 'verified.png', class: 'icon-tiny' %> <span class="denotes">Denotes player has registered with a partner. Hover over the check to view the details.</span>
      </div>
    <% end %>
  <% end %>
  <div id="registrations">
    <%= render "shared/player_table" %>
  </div>
</div>