<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h4 class="section-title">My Profile!</h4>
        <p>First Name: <%= current_user.first_name %></p>
        <p>Last Name: <%= current_user.last_name %></p>
        <p>Email: <%= current_user.email %></p>
        <hr>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 profile-edit">
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-xs btn-primary' %>    
    </div>
  </div>
</div>