div.alert.alert-danger.text-center.notifications {
  background-color: firebrick;
  border-color: firebrick;
  color: snow;
  border-radius: 0;
}

p.alert {
  background: #04beaf;
  margin-top: -10px;
  border-radius: none;
  color: snow;
}

p.notice {
  background: #04beaf;
  border-radius: none;
  color: snow;
  height: 75px;
  padding-top: 30px;
}

.alert {
  border-radius: none !important;
}