.club-buffer{
  margin: 20px 0 20px 0;
}

.club-layout {
  margin-top: 25px; 
  text-align: center;

  p {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
  }
}

.club-container {
margin-bottom: 50px;
}
