// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-info {
  margin: 20px;
}

.profile-info p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.user-profile-image {
  margin-top: 25px;
  margin-bottom: 25px;
}

.user-profile-image img {
  height: 150px;
}

.profile {
  border: 1px solid #eeeeee;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background-color: red;
}
