$font: 'Source Sans Pro', sans-serif;

.registration-area {
  margin-top: 175px;
}

.each-event p {
  font-weight: 100;
  font-family: $font;
}

.event-details p {
  font-size: 18px;
  font-weight: 100;
  font-family: $font;
  letter-spacing: .5px;
  margin: 0;
}

.btn {
  margin: 10px;
}

#tabs, #user-tabs {
  margin-bottom: 25px;
}

#user-tabs {
  margin-top: 50px;
}

a.btn.btn-primary.btn-md.register {
  margin-left: 0;
}

.event-title {
  font-weight: 500 !important;
  font-size: 24px !important;
}

mark.registered {
  margin-top: 20px;
}

a.btn.btn-md.btn-primary.event-info-button {
  margin-left: 0px;
}

a.btn.btn-md.btn-info.blue_golf_link {
  margin-left: 0;
}

.event-icon {
  height: 50px;
}

.event-icon-show {
  height: 60px;
}

.registered-icon {
  margin-right: 20px;
}

mark.show-reg {
  font-size: 22px;
  font-weight: 100;
  font-family: $font;
}

div.ui-timepicker-container.ui-timepicker-standard {
  z-index: 9999 !important;
}

.event-section-title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: $font;
  font-weight: 400;
  font-size: 22px;
}

p.caption {
  margin-top: 15px;
}

.payment-area {
  margin-top: 10px;
}

.register-modal {
  margin-bottom: 2000px;
}

div#register.modal.fade.in {
  overflow-y: hidden !important;
}

.registrations p {
  margin-top: 0;
  margin-bottom: 0;
}

.event-extras {
  margin-top: 100px;
}

a.btn.btn-md.btn-primary.add-winner {
  margin-left: 0;
}