.registration-area {
  margin-top: 150px;
}

.each-event p {
  font-weight: 100;
  font-family: 'Roboto Slab', serif; 
}

.event-details p {
  font-size: 16px;
  font-style: italic;
}

.btn {
  margin: 10px;
}

#tabs, #user-tabs {
  margin-bottom: 25px;
}

#user-tabs {
  margin-top: 50px;
}

a.btn.btn-primary.btn-md.register {
  margin-left: 0;
}