.registration-area {
  margin-top: 175px;
}

.each-event p {
  font-weight: 100;
  font-family: 'Roboto Slab', serif; 
}

.event-details p {
  font-size: 20px;
  font-weight: 100;
  font-family: 'Roboto Condensed', sans-serif;
}

.btn {
  margin: 10px;
}

#tabs, #user-tabs {
  margin-bottom: 25px;
}

#user-tabs {
  margin-top: 50px;
}

a.btn.btn-primary.btn-md.register {
  margin-left: 0;
}

.event-title {
  font-weight: 500 !important;
  font-size: 24px !important;
}

mark.registered {
  font-size: 22px;
  background: #8ac1f2;
}

a.btn.btn-md.btn-primary.event-info-button {
  margin-left: 0;
}