@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "bootstrap-sprockets";
@import "bootstrap";
$font: 'Source Sans Pro', sans-serif;

.mcplawi-img img {
    border: 1px solid gray;
    box-shadow: 2px 2px 2px grey;
}

body {
  font-family: $font;
}

div.row.hero-image {
  margin-right: 0;
}

.main-info {
  font-weight: 100;
  font-size: 17px;
}

.club-info-text {
  font-weight: 100;
  font-size: 17px;
  letter-spacing: .5px;
}

.club-welcome-text {
  font-size: 40px;
  text-align: center;
}

.main-title {
  font-family: $font;
  font-size: 3rem;
  text-align: center;
}

.main-section-title {
  font-family: $font;
  font-weight: 100;
  margin-top: 50px;
}

.text-buffer {
  margin-top: 20px;
}

.member-club {
  font-family: $font;
  font-size: 35px;
  font-weight: lighter;
}

.light-text {
  font-family: $font;
  font-weight: 100;
}

.club-name {
  font-family: $font;
  text-transform: uppercase;
    font-weight: lighter;
    padding: 10px;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: $font;
  font-weight: 400;
  font-size: 22px;
}

.big-year {
  text-transform: uppercase;
  font-family: $font;
  font-weight: 100;
  font-size: 30px;
}

.short-underline {
  width: 60px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.medium-underline {
  width: 115px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.long-underline {
  width: 235px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.course-icon {
    height: 35px;
    margin-left: 15px;
}

.info-icons {
  height: 20px;
}

.arrow-icon {
  margin-top: 10px;
}

.registrations {
  margin-top: 25px;
}

.top-buffer {
    margin-top: 50px;
}

.bottom-buffer {
  margin-bottom: 50px;
}

.row-buffer {
  margin-top: 100px;
  margin-bottom: 100px;
}

.registered {
  margin-top: 10px;
  margin-bottom: 15px;
}

.contact-button {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 25px 46px;
  font-size: 20px;
  color:  #2b5b6d;
  border-color:  #2b5b6d;
  text-transform: uppercase;
  border-radius: 0;

  &:hover {
    background-color: #4D4D4D;
    border-color:#4D4D4D;
  }
}

.learn-more-button {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 12px 20px;
  font-size: 15px;
  color:  snow;
  border-color:  snow;
  text-transform: uppercase;
  border-radius: 0;

  &:hover {
    border-color: rgba(255, 250, 250, 0.623);
  }
}

mark {
  background: #498ddd !important;
  color: snow !important;
  padding: .5em !important;
}

.hero-image {
  background: linear-gradient(rgba(78, 73, 73, 0.2), rgba(78, 73, 73, 0.2)), url('/assets/course2.jpg');
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 800px;

  h2 {
    color: snow;
    font-weight: 100;
  }

  .main-icons {
    height: 175px;
  }
}

.continuing-text {
  clear: both;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
