@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap');
@import "bootstrap-sprockets";
@import "bootstrap";
$font: 'Source Sans Pro', sans-serif;

.mcplawi-img img {
    border: 1px solid gray;
    box-shadow: 2px 2px 2px grey;
}

a:hover {
  text-decoration: none;
}

.history-buffer {
  margin-bottom: 50px;
}

.bg-buffer {
  margin-top: 10px;
  margin-bottom: 30px;
}

.button-buffer {
  margin: 20px;
}

body {
  font-family: $font;
  padding-top: 50px;
}

div.row.hero-image {
  margin-right: 0;
}

.main-info {
  font-weight: 100;
  font-size: 17px;
}

.club-info-text {
  font-weight: 100;
  font-size: 17px;
  letter-spacing: .5px;
}

.club-info-text-landing {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: .5px;
}

a.read-more {
  color: #b77133;
}

.club-welcome-text {
  font-size: 25px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}

.main-title {
  font-family: $font;
  font-size: 3rem;
  text-align: center;
}

.main-section-title {
  font-family: $font;
  font-weight: 100;
  margin-top: 50px;
  font-size: 36px;
}

.main-section-title-mini {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  margin-top: 50px;
  font-size: 30px;
}

.main-section-sub-title {
  font-family: $font;
  margin-top: 50px;
}

.latest-update-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 29px;
  text-transform: uppercase;
  color: black;
}

.current-event-results, .current-event-registrations {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 29px;
  text-transform: uppercase;
  color: black;
}

.eveent-page-btn {
  padding-left: 0;
}


.event-update-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 29px;
  text-transform: uppercase;
  color: black;
}

.latest-note {
  @extend .club-info-text;
  margin-top: 20px;
  margin-bottom: 40px;
}

.text-buffer {
  margin-top: 20px;
}

.member-club {
  font-family: $font;
  font-size: 35px;
  font-weight: lighter;
}

.light-text {
  font-family: $font;
  font-weight: 100;
}

.club-name {
  font-family: $font;
  text-transform: uppercase;
    font-weight: lighter;
    padding: 10px;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
}

.big-year {
  text-transform: uppercase;
  font-family: $font;
  font-weight: 100;
  font-size: 30px;
}

.short-underline {
  width: 60px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.medium-underline {
  width: 115px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.long-underline {
  width: 235px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.stock-underline {
  width: auto;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0
}

.course-icon {
    height: 35px;
    margin-left: 15px;
}

.info-icons {
  height: 25px;
}

.add-icon {
  height: 30px;
  margin-left: 20px;
}

.arrow-icon {
  height: 50px;
  margin-top: 100px;
}

.registrations {
  margin-top: 25px;
}

.top-buffer {
    margin-top: 50px;
}

.bottom-buffer {
  margin-bottom: 50px;
}

.row-buffer {
  margin-top: 100px;
  margin-bottom: 100px;
}

.registered {
  margin-top: 10px;
  margin-bottom: 15px;
}

a.faq-button {
  width: 250px;
}

.contact-button {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 25px 46px;
  font-size: 20px;
  color:  #2b5b6d;
  border-color:  #2b5b6d;
  text-transform: uppercase;
  border-radius: 0;

  &:hover {
    cursor: pointer;
    border-color:#0371b5;
    color: #fff;
    background-color: #0371b5;
  }
}

.covid-alert {
  height: 125px;
  background-color: #ff5e00;
  color: white;
  text-align: center;

  p {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
  }

  a {
    text-align: center;
    color: snow;
    font-size: 18px;
  }
}

.category {
  font-size: 20px;
}

.contact-name {
  i {
    color:#3f83b0;
  }
}

.landing-button {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 25px 46px;
  font-size: 20px;
  color:  #2b5b6d;
  border-color:  #2b5b6d;
  text-transform: uppercase;
  border-radius: 0;

  &:hover {
    cursor: pointer;
    border-color:#0371b5;
    color: #fff;
    background-color: #0371b5;
  }
}

.link-button {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 15px 30px;
  font-size: 15px;
  color:  #2b5b6d;
  border-color:  #2b5b6d;
  text-transform: uppercase;
  border-radius: 0;
  margin-left: 0;
  width: 275px;

  &:hover {
    cursor: pointer;
    border-color:#0371b5;
    color: #fff;
    background-color: #0371b5;
  }
}

.admin-button {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 15px 30px;
  font-size: 15px;
  color:  #2b5b6d;
  border-color:  #2b5b6d;
  text-transform: uppercase;
  border-radius: 0;
  margin-left: 0;
  // width: 275px;

  &:hover {
    cursor: pointer;
    border-color:#0371b5;
    color: #fff;
    background-color: #0371b5;
  }
}

.btn-spacer {
  letter-spacing: 1px;
}

.learn-more-button {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 12px 20px;
  font-size: 15px;
  color:  snow;
  border-color:  snow;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: 90px;

  &:hover {
    border-color: rgba(255, 250, 250, 0.623);
  }
}

mark {
  background: #498ddd !important;
  color: snow !important;
  padding: .5em !important;
}

button.btn.btn-primary.btn-md.partner-btn {
  margin-left: 0;
}

.recent-results {
  margin-bottom: 40px;
}

.hero-image {
  background: linear-gradient(rgba(78, 73, 73, 0.9), rgba(78, 73, 73, 0.2)), url('/assets/course2.jpg');
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 700px;

  h2 {
    color: snow;
    font-weight: 100;
  }

  .main-icons {
    height: 105px;
  }
}

.main-icons {
  height: 105px;
}

.notice {
  color: red;
}

.continuing-text {
  clear: both;
}

.flat-icon p {
  font-size: 15px;
  color: rgb(204, 198, 198);
}

.flat-icon a {
  font-size: 15px;
  color: rgb(204, 198, 198);

  &:hover {
    color: rgb(204, 198, 198);
  }
}

.archive-btn {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: darkcyan;
}

.archives {
  padding-top: 20px;
}

.span-margin {
  margin-left: 15px;
   
  a {
    color: darkcyan;
  }
}

// .blur-text {
//   color: #2d050559;
//   text-shadow: 0 0 5px rgba(21, 1, 1, 0.02);
// }

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
