@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Roboto+Slab:100,300,400');
@import "bootstrap-sprockets";
@import "bootstrap";

.mcplawi-img img {
    border: 1px solid gray;
    box-shadow: 2px 2px 2px grey;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.member-club {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: lighter;
}

.club-name {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 10px;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 18px;
}

.big-year {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 30px;
}

.short-underline {
  width: 60px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.medium-underline {
  width: 115px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.long-underline {
  width: 235px;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  margin-top: 0;
}

.club-layout {
    text-align: left;
    margin: 10px;
}

.course-icon {
    height: 35px;
    margin-left: 15px;
}

.info-icons {
  height: 20px;
}

.registrations {
  margin-top: 25px;
}

.top-buffer {
    margin-top: 50px;
}
