.navbar-inverse {
    background-color: #2b5b6d;
    border-color: #2b5b6d;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-brand {
    color: snow;
    font-family: 'Roboto Condensed', sans-serif;

    &:hover {
      color: rgba(255, 252, 252, .7);
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: lightgray;
}

.navbar-inverse .navbar-nav > li > a {
    color: snow;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      color: rgba(255, 252, 252, .7);
    }
}

.navbar-inverse .navbar-toggle {
    border-color: #fffcfc;
}

.navbar {
  margin-bottom: 0 !important;
}
