$font: 'Source Sans Pro', sans-serif;
$color : #1f618d;

.navbar-inverse {
    // background-color: #464242;
    // border-color: #464242;
    background-color: $color;
    border-color: $color;
    border-radius: 0;
    font-family: $font;
}

.navbar-inverse .navbar-brand {
    color: snow;
    font-family: $font;
    font-size: 3rem;
    letter-spacing: 2px;

    &:hover {
      color: rgba(255, 252, 252, .7);
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: lightgray;
}

.navbar-inverse .navbar-nav > li > a {
    color: snow;
    font-family: $font;

    &:hover {
      color: rgba(255, 252, 252, .7);
    }
}

.navbar-inverse .navbar-toggle {
    border-color: #fffcfc;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-brand img {
  height: 30px;
  margin-top: 10px;
}

a.navbar-brand.img-responsinve {
  padding-top: 0;
}

div.banner{
  height: 70px;
  background: #568fd0;
  color: snow;
  margin-bottom: 0;
}

p.buffer-row.text-center {
  margin-top: 14px;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: $color;
  color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: snow;
  font-family: $font;

  &:hover {
    color: rgba(255, 252, 252, .7);
  }
}

.dropdown-menu {
  background-color: $color;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: $color;
  color: rgba(255, 252, 252, .7);
}