$font: 'Source Sans Pro', sans-serif;

.navbar-inverse {
    background-color: black;
    border-color: black;
    border-radius: 0;
    font-family: $font;
}

.navbar-inverse .navbar-brand {
    color: snow;
    font-family: $font;
    font-size: 3rem;
    letter-spacing: 2px;

    &:hover {
      color: rgba(255, 252, 252, .7);
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: lightgray;
}

.navbar-inverse .navbar-nav > li > a {
    color: snow;
    font-family: $font;

    &:hover {
      color: rgba(255, 252, 252, .7);
    }
}

.navbar-inverse .navbar-toggle {
    border-color: #fffcfc;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-brand img {
  height: 30px;
  margin-top: 10px;
}

a.navbar-brand.img-responsinve {
  padding-top: 0;
}

div.banner{
  height: 70px;
  background: #6c6c6c;
  color: snow;
  margin-bottom: 0;
}

p.buffer-row.text-center {
  margin-top: 14px;
  text-transform: uppercase;
}