.navbar-inverse {
    background-color: #d8961a;
    border-color: #d8961a;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #fffcfc;

    &:hover {
      color: rgba(255, 252, 252, .7);
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: lightgray;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fffcfc;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      color: rgba(255, 252, 252, .7);
    }
}

.navbar-inverse .navbar-toggle {
    border-color: #fffcfc;
}
