// Place all the styles related to the partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn.btn-primary.btn-md.partner-btn.bottom-buffer {
  margin-left: 0;
}

.icon-tiny {
  height: 20px;
  padding-left: 10px;
}

.partner-clause {
  margin-bottom: 15px;
}

.denotes {
  padding-left: 10px;
}

.partner-button {
  margin-left: 10px;
  
}