// Place all the styles related to the teetimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn.btn-sm.btn-success.tee-time-btn {
  margin-bottom: 12px;
}

a.btn.btn-sm.btn-success.team-sched {
  margin-left: 0px;
  margin-bottom: 20px;
}